div.index
  h2 The CXC members.
  div.baraja-demo
    ul.baraja-container.ch-grid
      li
        div.ch-item.ch-img-1
          div.ch-info
            h3 ZhoonChen
            p My link: 
              a(href="http://www.zhoonchen.com/blog/") website
              a(href="http://weibo.com/zhoonchen") micro_sina
              a(href="http://weibo.com/zhoonchen") zhoonchen@gmail.com
        h4 ZhoonChen
        p.authorInfo post : web developer,
        p.authorInfo hobby : snooker,
        p.authorInfo marital status : double
      li
        div.ch-item.ch-img-2
          div.ch-info
            h3 ChinaChen
            p My link: 
              a(href="http://weibo.com/gdufschen") website
              a(href="http://weibo.com/gdufschen") micro_sina
              a(href="http://weibo.com/gdufschen") chinachen@gmail.com
        h4 ChinaChen
        p.authorInfo post : web developer,
        p.authorInfo hobby : smoke,
        p.authorInfo marital status : single
      li
        div.ch-item.ch-img-3
          div.ch-info
            h3 Maple_Shaw
            p My link: 
              a(href="http://www.mapleshaw.com") website
              a(href="http://www.weibo.com/xiaodingge") micro_sina
              a(href="http://www.weibo.com/xiaodingge") mapleshaw@gmail.com
        h4 Maple_Shaw
        p.authorInfo post : web developer,
        p.authorInfo hobby : music,
        p.authorInfo marital status : single
  div.introduction
    p CXC团队成立于2013年1月1日，有来自广外思科的三个前端攻城师，年轻有活力，目前承办世界各地钱端项目，欢迎咨询！！
