div.chat.chatDialog
	div.userMs
		div.title
			h3 与{{msgFrom}}聊天中
	div.content#chatScorll
		ul.items
			li(ng-repeat='msg in msgs')
				div.chatCnt
					p.c_name
						span.username {{msg.name}}
						span.gray {{msg.time}}
					p.c_cnt {{msg.cnt}}
	p.user_id
		input#firend_id(type='text', ng-model='userId', placeholder="input your friend's id...")
		span.yourId Your ID : {{id}}
	p.user_txt
		textarea#chat_msg(ng-model='userTxt', on-enter='sendMsg()', placeholder="input your message...")
	p.user_ctrl
		input.btn(type='button', value='send message', ng-click='sendMsg()')
		span.gray &nbsp; or press "Enter" key


