div.index
  h2 游戏介绍
  div.sp-slideshow            
    input#button-1.sp-selector-1(type="radio" , name="radio-set" , checked="checked")
    label.button-label-1(for="button-1")

    input#button-2.sp-selector-2(type="radio" , name="radio-set")
    label.button-label-2(for="button-2")

    input#button-3.sp-selector-3(type="radio" , name="radio-set")
    label.button-label-3(for="button-3")

    input#button-4.sp-selector-4(type="radio" , name="radio-set")
    label.button-label-4(for="button-4")

    input#button-5.sp-selector-5(type="radio" , name="radio-set")
    label.button-label-5(for="button-5")

    label.sp-arrow.sp-a1(for="button-1")
    label.sp-arrow.sp-a2(for="button-2")
    label.sp-arrow.sp-a3(for="button-3")
    label.sp-arrow.sp-a4(for="button-4")
    label.sp-arrow.sp-a5(for="button-5")
     
    div.sp-content
      div.sp-parallax-bg
        ul.sp-slider.clearfix
          li
            img(src="img/image1.png" , alt="image01")
          li
            img(src="img/image2.png" , alt="image02")
          li
            img(src="img/image3.png" , alt="image03")
          li
            img(src="img/image4.png" , alt="image04")
          li
            img(src="img/image5.png" , alt="image05")
  


