div.wrap
  div#chatTemplate

  div.friend_list
    ul.iteams
      li(ng-repeat='user in users', title='{{user.name}}', ng-click='initName(user)')
        span.face {{user.username}} : 
        span.username {{user.id}}
