div.wrap

  div.maskDiv(style='display:none;')

  div.roomBox#roomBox(ng-class='{editingName : isEditing == true}')
    a.roomClose(href='javascript:;') 关闭
    div.roomTop
      a.createBtn(href='javascript:;', ng-click='editRoomName()') 创建一个房间
      input.editRoomName(type='text', ng-model='createRoomName', on-enter='roomNameBlur()', room-name-focus='isEditing == true', placeholder='输入房间名并回车...')
    div.items
      div.roomItem(ng-repeat='room in roomList')
        div.desk.ellipsis(title='{{room.roomName}}') {{room.roomName}}
        div.rp1(title='点击进入房间', ng-click='joinRoom(room.roomName, 0)', ng-class='{on:hovePeople[room.roomName][0]==1}')
        div.rp2(title='点击进入房间', ng-click='joinRoom(room.roomName, 1)', ng-class='{on:hovePeople[room.roomName][1]==1}')
        div.rp3(title='点击进入房间', ng-click='joinRoom(room.roomName, 2)', ng-class='{on:hovePeople[room.roomName][2]==1}')
        div.rp4(title='点击进入房间', ng-click='joinRoom(room.roomName, 3)', ng-class='{on:hovePeople[room.roomName][3]==1}')
        div.rp5(title='点击进入房间', ng-click='joinRoom(room.roomName, 4)', ng-class='{on:hovePeople[room.roomName][4]==1}')
        div.rp6(title='点击进入房间', ng-click='joinRoom(room.roomName, 5)', ng-class='{on:hovePeople[room.roomName][5]==1}')
        div.rp7(title='点击进入房间', ng-click='joinRoom(room.roomName, 6)', ng-class='{on:hovePeople[room.roomName][6]==1}')
        div.rp8(title='点击进入房间', ng-click='joinRoom(room.roomName, 7)', ng-class='{on:hovePeople[room.roomName][7]==1}')
        div.rp9(title='点击进入房间', ng-click='joinRoom(room.roomName, 8)', ng-class='{on:hovePeople[room.roomName][8]==1}')

  div#chatTemplate
  div.friend_list
    h3.title 好友列表
    ul.items
      li.ellipsis(ng-repeat='friend in friendList', title='{{friend.name}}', ng-click='initName(friend)') {{friend.name}}
    p.fl_popup
  div.friend_tips
    ul.items(ng-show='msgCount && sT')
      li.ellipsis(ng-repeat='tip in tipsMsg', title='{{tip.fromName}}', ng-click='showWin(tip.fromId)') {{tip.fromName}} ({{count[tip.fromId]}})
    p.tip_title(ng-show='msgCount', ng-click='showTip()') 您收到{{msgCount}}条信息

  div.gameArea
    div.gameCtrl
      div.gameUserInfo.box_style
        h3.title_mod 玩家信息
        ul.items
          li 昵称：{{_myself.name}}
          li 胜率：{{_myself.winRate}}
          li 等级：{{_myself.level}}
          li 房间：{{curRoom}}
      div.gameUserCtrl.box_style
        h3.title_mod 游戏操作
        div.btn_list
          input.ctrlBtn#chooseRoom(type='button', ng-click='getRoomList()', value='选择房间') 
          input.ctrlBtn.prepareGame(type='button', ng-disabled='isReady==0', ng-class='{disable:isReady==0}', ng-click='prepareForGame(curRoom)', value='准备游戏') 
          input.ctrlBtn.leaveRoom(type='button', ng-click='leaveRoom()', value='离开房间', ng-disabled='isAddRoom==0', ng-class='{disable:isAddRoom==0}') 
          input.ctrlBtn(type='button', value='给词库添加词语') 
          div.wordArea {{word}} {{wordLength}}
    div.gameView
      div.gameDisplay
        div.players(ng-repeat='player in playerList')
          div.face(mouse-over='faceMouseOver(player.info.systemID)', mouse-out='faceMouseOut(player.info.systemID)', ng-class='{on:player.isOn==1, ready:isPlayerReady[player.info.systemID], isMyself:player.info.systemID==_myself.systemid, voteOut:isVoteOut[player.info.systemID]==1}')
          div.vote(ng-show='isDisplayVote==1 && player.info.systemID != _myself.systemid && isVoteOut[_myself.systemid] != 1')
            a(href='javascript:;', ng-click='voteOne(curRoom, player.info.userName, player.info.systemID)') 投票
          div.userInfo(ng-show='isDisplayInfo[player.info.systemID] && player.isOn',mouse-over='faceMouseOver(player.info.systemID)', mouse-out='faceMouseOut(player.info.systemID)')
            p 昵称：{{player.info.userName}}
            p 胜率：{{player.info.winRate}}
            p 等级：{{player.info.level}}
            p
              a(href='javascript:;', ng-click='addFriend(player.info.systemID, player.info.userName)', ng-hide='isYourFriend[player.info.systemID] || player.info.systemID == _myself.systemid') 加为好友
              a(href='javascript:;', ng-click='removeFriend(player.info.systemID, player.info.userName)', ng-show='isYourFriend[player.info.systemID || player.info.systemID != _myself.systemid]') 取消好友
        div.timeLeave 剩下 : {{timeLeave}}s
        div.playMsg(ng-show='sayMessageTips') {{sayMessageTips}}
        div.systemTips(ng-show='systemTips') {{systemTips}}
        div.errTips(ng-show='errorTips') {{errorTips}}

        p.bg_txt 游戏区
        input.ctrlBtn.caici(type='button', value='我要猜词', ng-click='guessWord()', ng-class='{disable:isGameStart==0}', ng-disabled='isGameStart==0') 
        input.ctrlBtn.yiyan(type='button', value='我要留遗言', ng-click='leaveMsg()', ng-class='{disable:leaveMessage==0}', ng-disabled='leaveMessage==0') 
      div.gameSend
        textarea.playTextarea(ng-model='sayMessage', placeholder='请输入词语的描述句子...')
        input.playSubmit(type='button', value='发言', ng-disabled='isYourTurn==0', ng-class='{disable:isYourTurn==0}', ng-click='makeStatement(curRoom, sayMessage)')
    div.gameSystem
      div.gameSystemInfo.box_style
        h3.title_mod 系统信息
        ul.items(on-scroller='sysMessage')
          li(ng-repeat='msg in sysMessage')
            span.name ［系统信息］：
            span.txt {{msg}}
      div.gameSetting.box_style 
        h3.title_mod 系统设置
        ul.items
          li
            label
              input(type='checkbox', checked='checked', style='vertical-align:middle;margin-right:3px;')
              span(style='vertical-align:middle') 开启声音
