div.wrap

  div.maskDiv(style='display:none;')

  div.systemTips(ng-show='systemTips') {{systemTips}}

  div.roomBox#roomBox(ng-class='{editingName : isEditing == true}')
    a.roomClose(href='javascript:;') 关闭
    div.roomTop
      a.createBtn(href='javascript:;', ng-click='editRoomName()') 创建一个房间
      input.editRoomName(type='text', ng-model='createRoomName', on-enter='roomNameBlur()', room-name-focus='isEditing == true', placeholder='输入房间名并回车...')
    div.items
      div.roomItem(ng-repeat='room in roomList')
        div.desk.ellipsis(title='{{room.roomName}}') {{room.roomName}}
        div.rp1(title='点击进入房间', ng-click='joinRoom(room.roomName, 0)', ng-class='{on:hovePeople[room.roomName][0]==1}')
        div.rp2(title='点击进入房间', ng-click='joinRoom(room.roomName, 1)', ng-class='{on:hovePeople[room.roomName][1]==1}')
        div.rp3(title='点击进入房间', ng-click='joinRoom(room.roomName, 2)', ng-class='{on:hovePeople[room.roomName][2]==1}')
        div.rp4(title='点击进入房间', ng-click='joinRoom(room.roomName, 3)', ng-class='{on:hovePeople[room.roomName][3]==1}')
        div.rp5(title='点击进入房间', ng-click='joinRoom(room.roomName, 4)', ng-class='{on:hovePeople[room.roomName][4]==1}')
        div.rp6(title='点击进入房间', ng-click='joinRoom(room.roomName, 5)', ng-class='{on:hovePeople[room.roomName][5]==1}')
        div.rp7(title='点击进入房间', ng-click='joinRoom(room.roomName, 6)', ng-class='{on:hovePeople[room.roomName][6]==1}')
        div.rp8(title='点击进入房间', ng-click='joinRoom(room.roomName, 7)', ng-class='{on:hovePeople[room.roomName][7]==1}')
        div.rp9(title='点击进入房间', ng-click='joinRoom(room.roomName, 8)', ng-class='{on:hovePeople[room.roomName][8]==1}')

  div#chatTemplate
  div.friend_list
    h3.title 好友列表
    ul.items
      li.ellipsis(ng-repeat='friend in friendList', title='{{friend.name}}', ng-click='initName(friend)') {{friend.name}}
    p.fl_popup
  div.friend_tips
    ul.items(ng-show='msgCount && sT')
      li.ellipsis(ng-repeat='tip in tipsMsg', title='{{tip.fromName}}', ng-click='showWin(tip.fromId)') {{tip.fromName}} ({{count[tip.fromId]}})
    p.tip_title(ng-show='msgCount', ng-click='showTip()') 您收到{{msgCount}}条信息

  div.gameArea
    div.gameCtrl
      div.gameUserInfo.box_style
        h3.title_mod 玩家信息
        ul.items
          li 昵称：{{_myself.name}}
          li 胜率：{{_myself.winRate}}
          li 等级：{{_myself.level}}
          li 房间：{{curRoom}}
      div.gameUserCtrl.box_style
        h3.title_mod 游戏操作
        div.btn_list
          a.ctrlBtn#chooseRoom(href='javascript:;', ng-click='getRoomList()') 选择房间
          a.ctrlBtn.prepareGame(href='javascript:;', ng-click='prepareForGame(curRoom)') 准备游戏
          a.ctrlBtn(href='javascript:;', ng-click='leaveRoom(curRoom)') 离开房间
          a.ctrlBtn(href='javascript:;') 给词库添加词语
          div.wordArea {{word}} {{wordLength}}
    div.gameView
      div.gameDisplay
        div.player1.players.players_on
        div.player2.players
        div.player3.players
        div.player4.players
        div.player5.players.players_on
        div.player6.players
        div.player7.players
        div.player8.players
        div.player9.players
        div.timeLeave 剩下 : {{timeLeave}}s
        div.playMsg(ng-show='sayMessageTip') {{sayMessageTip}}
        p.bg_txt 游戏区
        a.ctrlBtn.caici(href='javascript:;') 我要猜词
        a.ctrlBtn.yiyan(href='javascript:;') 我要留遗言
      div.gameSend
        textarea.playTextarea(ng-model='sayMessage')
        input.playSubmit(type='button', value='发言', ng-click='makeStatement(curRoom, _myself.name, sayMessage)')
    div.gameSystem
      div.gameSystemInfo.box_style
        h3.title_mod 系统信息
        ul.items(on-scroller='sysMessage')
          li(ng-repeat='msg in sysMessage')
            span.name ［系统信息］：
            span.txt {{msg}}
      div.gameSetting.box_style 
        h3.title_mod 系统设置
        ul.items
          li
            label
              input(type='checkbox', checked='checked', style='vertical-align:middle;margin-right:3px;')
              span(style='vertical-align:middle') 开启声音
