div.wrap

  div.maskDiv(style='display:none;')

  div.systemTips(ng-show='systemTips') {{systemTips}}

  div.roomBox#roomBox(ng-class='{editingName : isEditing == true}')
    a.roomClose(href='javascript:;') 关闭
    div.roomTop
      a.createBtn(href='javascript:;', ng-click='editRoomName()') 创建一个房间
      input.editRoomName(type='text', ng-model='createRoomName', on-enter='roomNameBlur()', room-name-focus='isEditing == true', placeholder='输入房间名并回车...')
    div.items
      div.roomItem(ng-repeat='room in roomList')
        div.desk.ellipsis(title='{{room.roomName}}') {{room.roomName}}
        div.rp1(title='点击进入房间')
        div.rp2(title='点击进入房间', ng-click='joinRoom(room.roomName, 2)')
        div.rp3(title='点击进入房间', ng-click='joinRoom(room.roomName, 3)')
        div.rp4(title='点击进入房间', ng-click='joinRoom(room.roomName, 4)')
        div.rp5(title='点击进入房间', ng-click='joinRoom(room.roomName, 5)')
        div.rp6(title='点击进入房间', ng-click='joinRoom(room.roomName, 6)')
        div.rp7(title='点击进入房间', ng-click='joinRoom(room.roomName, 7)')
        div.rp8(title='点击进入房间', ng-click='joinRoom(room.roomName, 8)')
        div.rp9(title='点击进入房间', ng-click='joinRoom(room.roomName, 9)')

  div#chatTemplate
  div.friend_list
    h3.title 好友列表
    ul.iteams
      li.ellipsis(ng-repeat='friend in friendList', title='{{friend.name}}', ng-click='initName(friend)') {{friend.name}}
  div.friend_tips
    ul.items(ng-show='msgCount && sT')
      li.ellipsis(ng-repeat='tip in tipsMsg', title='{{tip.fromName}}', ng-click='showWin(tip.fromId)') {{tip.fromName}} ({{count[tip.fromId]}})
    p.tip_title(ng-show='msgCount', ng-click='showTip()') 您收到{{msgCount}}条信息

  div.gameArea
    div.gameView
      div.gameDisplay
        div.player1.players.players_on
        div.player2.players
        div.player3.players
        div.player4.players
        div.player5.players.players_on
        div.player6.players
        div.player7.players
        div.player8.players
        div.player9.players
        div.timeLeave 剩下 : 20s
        div.playMsg 玩家三：大家好啦时间的了就是的法律就是了的积分 了手机铃声的积分了实际上大家方式了看到积分了速度快积分
        p.bg_txt 游戏区
        a.ctrlBtn.caici(href='javascript:;') 我要猜词
        a.ctrlBtn.yiyan(href='javascript:;') 我要留遗言
      div.gameSend
        textarea.playTextarea()
        input.playSubmit(type='button', value='发言')

    div.gameCtrl
      div.gameUserInfo.box_style
        h3.title_mod 玩家信息
        ul.items
          li 昵称：{{mySelf.nickName}}
          li 胜率：{{mySelf.winRate}}
          li 等级：{{mySelf.level}}
          li 房间：{{mySelf.level}}
      div.gameUserCtrl.box_style
        h3.title_mod 游戏操作
        div.btn_list
          a.ctrlBtn#chooseRoom(href='javascript:;', ng-click='getRoomList()') 选择房间
          a.ctrlBtn(href='javascript:;') 创建房间
          a.ctrlBtn(href='javascript:;') 离开房间
          a.ctrlBtn(href='javascript:;') 给词库添加词语

    div.gameSystem
      div.gameSetting.box_style 
        h3.title_mod 系统设置
        ul.items
          li
      div.gameSystemInfo.box_style
        h3.title_mod 系统信息
        ul.items
          li(ng-repeat='msg in sysMessage')
            span.name ［系统信息］：
            span.txt {{msg}}
