div.index
	h2 Login
	form(method="post")
		div.eachItem
			label Username
			input(type="text" , name="username" , ng-model="loginForm.username" , placeholder="Type your name…")
		div.eachItem
			label Password
			input(type="password" , name="password" , ng-model="loginForm.password" , placeholder="Type your password…")
		div.eachItem
			label.checkbox
				input.checkbox(type="checkbox") 
				span remember me
		button.btn(type="submit" , ng-click="loginPost()") Login
	
