div.index
	div.background
		h2 Register
		div.formBackground.registerBackground
			form.cssForm
				div.eachItem
					label Username
					input(type="text" , id="errorTipsOfName" , name="username" , ng-model="registerForm.username", ng-change="registerCheck()", placeholder="Type your name…" , autofocus='autofocus', required , checkUsername)
					p {{usernameMsg}}
				div.eachItem
					label Email
					input(type="email" , name="email" ,ng-model="registerForm.email", placeholder="Type your email…" , required)
				div.eachItem
					label Password
					input(type="password" , name="password" , ng-model="registerForm.password", placeholder="Type your password…" , required)
				div.eachItem
					label Password Repeat
					input(type="password" , id="errorTipsOfPw" , name="passwordRepeat" , ng-model="registerForm.passwordRepeat", ng-change="passwordCheck()" , placeholder="Type again…" , required)
					p {{error}}
				div.eachItem
					label.checkbox
						input.checkbox(type="checkbox") 
						span check me out
				button.btn(type="submit" , ng-click="registerPost()") Register
				p.errorTips {{successMsg}}
