/* app css stylesheet */
*{margin: 0;padding: 0;}
body{font-size: 14px;line-height: 1.5;color: #333;-webkit-user-select: none;background: url(../img/bg.png);font-family: "lucida Grande",Verdana;}
body, html{height: 100%;width: 100%;overflow: hidden;}
ul, ol{list-style-type: none;}
a{text-decoration: none;color: #4183c4;}
a:hover{text-decoration: underline;}
img{border: none;}


/*header*/
.header{overflow: hidden;position: absolute;width: 100%;height: 60px;background-color: #a5bbb6;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);z-index: 5;`}
.header h1{text-align: center;line-height: 60px;}
.header h1 a{color: #fff;font-size: 24px;text-decoration: none;}
.header .ctrl{position: absolute;right: 0px;top: 0px;height: 60px;}
.header .ctrl a{line-height: 60px;margin: 0 10px;color: #fff;}

/*container*/
.container{position: absolute;top: 60px;bottom: 40px;width: 100%;z-index: 4;}
.container .index{text-align: center;padding: 40px 0;}

/*chart*/
.chatDialog{width: 350px;border: 1px solid #ccc;position: absolute;background-color: #fff;z-index: 10;box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);}
.chatDialog .userMsg{padding: 6px;border-bottom: 1px solid #ccc;}
.chatDialog .title{height: 40px;line-height: 40px;text-align: center;background-color: #eee;border-bottom: 1px solid #ccc;cursor: move;position: relative;}
.chatDialog .close,
.chatDialog .min{position: absolute;right: 10px;line-height: 20px;top: 12px;width: 16px;height: 16px;text-decoration: none;background: url(../img/icons.png) no-repeat -108px -175px;}
.chatDialog .min{right: 35px;background-position: -108px -152px;}
.chatDialog .close:hover{background-position :-129px -175px;}
.chatDialog .min:hover{background-position :-129px -152px;}

.chatDialog .clearTxt{position: absolute;right: 10px;line-height: 30px;}
.chatDialog .yourId{margin: 0 0 0 20px;}
.chatDialog .chat_msg{height: 60px;padding: 6px 6px;width: 338px;border: none;outline: none;display: block;}
.chatDialog .chat_msg:focus{box-shadow: none;}
.chatDialog .user_id{padding: 6px;border-bottom: 1px solid #ccc;display: none;}
.chatDialog .user_txt{border-bottom: 1px solid #ccc;}
.chatDialog .user_ctrl{padding: 6px;background-color: #eee;position: relative;}
.chatDialog .content{padding: 10px 6px;height: 150px;border-bottom: 1px solid #ccc;overflow: auto;}
.chatDialog .content .items li{overflow: hidden;margin: 0 6px 0 6px;padding: 0 0 10px 0;}
.chatDialog .c_name{margin-bottom: 5px;} 
.chatDialog .c_cnt{word-break:break-all;}
.chatDialog .c_name .username{color: #4183c4;}

.friend_list{width: 160px;overflow: auto;position: absolute;z-index: 5;height:100%;padding: 0px; right: 0px;bottom: 0px;background-color: #fff;border: 1px solid #ccc;border-right: none;border-bottom: none;}
.friend_list li{padding: 5px 10px 5px 50px;height: 40px;line-height: 40px; border-bottom: 1px solid #ccc;background: url(../img/on.png) no-repeat 6px 5px;}
.friend_list li:hover{cursor: pointer;color: blue;word-break: break-all;word-wrap: break-word;}

.friend_tips{position: absolute;width: 152px;bottom: 0px;right: 162px;z-index: 5;}
.friend_tips .items{border-left: 2px solid #cb6d08;border-top: 2px solid #cb6d08;border-right: 2px solid #cb6d08;max-height: 209px;overflow: auto;}
.friend_tips li{padding: 4px 10px; border-bottom: 1px solid #ccc;background-color: #eee;}
.friend_tips li:hover{cursor: pointer;color: #000;}
.friend_tips li:last-child{border-bottom: none;}
.friend_tips .tip_title{width: 150px;height: 24px;cursor: pointer;line-height: 24px;text-align: center;color: #fff;border: solid 1px #cb6d08;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc8646), color-stop(100%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc8646 0%,#ea5507 100%,#fb955e 100%); /* Chrome10+,Safari5.1+ */}

/*game*/
.ctrlBtn{width: 96%;text-align: center;height: 30px;display: block;margin: 0 0 10px 0;line-height: 30px;background-image: -webkit-linear-gradient(top, #ffffff,#e1e1e1);border: 1px solid #d3d3d3;border-radius: 3px;}
.ctrlBtn:hover{background-image: -webkit-linear-gradient(top, #ffffff,#efefef);text-decoration: none;}
.ctrlBtn.caici{position: absolute;bottom: 10px;right: 10px;width: 80px;margin-bottom: 0;}
.ctrlBtn.yiyan{position: absolute;bottom: 10px;right: 100px;width: 80px;margin-bottom: 0;}

.gameArea{overflow: hidden;position: absolute;top: 0px;bottom: 0px;padding: 20px;}
.gameArea .box_style{border: 2px solid #ccc;padding: 5px;}
.gameArea .title_mod{padding: 5px 0 5px 0;border-bottom: 2px solid #ccc;font-size: 14px;}
.gameArea .gameView{float: left;width: 600px;height: 520px;position: relative;}
.gameArea .gameView .gameDisplay{width: 596px;height: 468px;border: 2px solid #ccc;position: absolute;background-color: #fff;top: 0px;left: 0px;}
.gameView .gameDisplay .players{position: absolute;height: 40px;width: 34px;overflow: hidden;background: url(../img/off.png) no-repeat;cursor: pointer;}
.gameView .gameDisplay .players_on{background: url(../img/on.png) no-repeat;}
.gameView .gameDisplay .player1{bottom: 10px;left: 286px;}
.gameView .gameDisplay .player2{top: 260px;left: 10px;}
.gameView .gameDisplay .player3{top: 120px;left: 10px;}
.gameView .gameDisplay .player4{top: 10px;left: 92px;}
.gameView .gameDisplay .player5{top: 10px;left: 218px;}
.gameView .gameDisplay .player6{top: 10px;left: 344px;}
.gameView .gameDisplay .player7{top: 10px;left: 470px;}
.gameView .gameDisplay .player8{top: 120px;right: 10px;}
.gameView .gameDisplay .player9{top: 260px;right: 10px;}
.gameView .gameDisplay .timeLeave{position: absolute;bottom: 0px;left: 0px;padding: 8px 20px;color: #fff;background-color: #589bc6;border-left: 1px solid #5389af;border-top: 1px solid #5389af;border-top-right-radius: 3px;}
.gameView .gameDisplay .bg_txt{font-size: 60px;color: #eee;line-height: 400px;text-align: center;}
.gameView .gameDisplay .playMsg{position: absolute;top: 120px;padding: 15px;background-color: #000;width: 320px;left: 130px;color: #fff;border-radius: 3px;max-height: 155px;overflow: auto;opacity: 0.8;}
.gameArea .gameView .gameSend{position: absolute;bottom: 0px;left: 0px;}
.gameView .playTextarea{width: 470px;height: 30px;vertical-align: middle;}
.gameView .playSubmit{height: 40px;line-height: 40px;width: 112px;margin-left: 4px;vertical-align: middle;border-radius: 3px;cursor: pointer;background-image: -webkit-linear-gradient(top,#56bf0f,#50b909);background-image: linear-gradient(top,#56bf0f,#50b909);border: 1px solid #4aab09;font-size: 18px;color: #fff;}
.gameView .playSubmit:hover{background-image: -webkit-linear-gradient(top,#6dd626,#58c111);background-image: linear-gradient(top,#6dd626,#58c111);}

.gameArea .gameCtrl{float: left;width: 250px;margin-left: 10px;}
.gameCtrl .gameUserInfo{margin-bottom: 10px;height: 160px;}
.gameCtrl .gameUserInfo .items{padding: 5px 0 0 0;}
.gameCtrl .gameUserInfo .items li{line-height: 2;}
.gameCtrl .gameUserCtrl{height: 273px;}
.gameCtrl .gameUserCtrl .btn_list{padding: 10px 0 0 0;}

.gameArea .gameSystem{float: left;width: 250px;margin-left: 10px;}
.gameSystem .gameSetting{margin-bottom: 10px;height: 160px;}
.gameSystem .gameSystemInfo{height: 273px;}
.gameSystem .gameSystemInfo .name{color: #4183c4;}
.gameSystem .gameSystemInfo .items{padding: 10px 0 0 0;height: 220px;overflow: auto;font-size: 12px;}
.gameSystem .gameSystemInfo .items li{margin-bottom: 5px;}

/*footer*/
.footer{text-align: center;width: 100%;height: 40px;line-height: 40px;position:absolute;bottom: 0px;z-index: 5;background-color: #a5bbb6;}
.footer a{margin: 0 10px;color: #fff;}


/*function*/
.gray{color: #999;}
.red{color: #c00;}
.blue{color: #4183c4;}
.black{color: #000;}
.ellipsis{overflow: hidden;white-space: nowrap;text-overflow:ellipsis;display: block;}
