/* app css stylesheet */
*{margin: 0;padding: 0;}

/*header*/
.header{overflow: hidden;position: relative;height: 60px;}
.header h1{text-align: center;line-height: 60px;}
.header .ctrl{position: absolute;right: 0px;top: 0px;height: 60px;}
.header .ctrl a{line-height: 60px;margin: 0 10px;}

/*container*/
.container{}
.container .index{text-align: center;padding: 40px 0;}


/*footer*/
.footer{padding: 20px;text-align: center;}
.footer a{margin: 0 10px;}
